{% extends "contributors/base.html" %}
{% load i18n %}

{% comment %}
{% block breadcrumbs %}{{block.super}} / <a href="{% url 'importer_status' %}">status</a>{% endblock %}
{% endcomment %}

{% block content %}

<h2>Submission status</h2>

<table class="table table-sm">
  <tbody>
    <tr>
      <th>{% trans "Source" %}</th>
      <td><a href="{{submission.source.get_absolute_url}}">{{submission.source}}</a></td>
    </tr>
    <tr>
      <th>{% trans "Method" %}</th>
      <td>{{submission.method}}</td>
    </tr>
    <tr>
      <th>{% trans "Received" %}</th>
      <td>{{submission.received}}</td>
    </tr>
    <tr>
      <th>{% trans "Completed" %}</th>
      <td>{{submission.completed}}</td>
    </tr>
  </tbody>
</table>

<h2>Submission log</h2>

<table class="table table-sm tablesorter">
  <thead>
    <tr>
      <th>{% trans "Operation" %}</th>
      <th>{% trans "Since" %}</th>
      <th>{% trans "Until" %}</th>
      <th>{% trans "Elapsed" %}</th>
      <th>{% trans "Result" %}</th>
      <th>{% trans "Stats" %}</th>
    </tr>
  </thead>
  <tbody>
  {% for entry in submission.log.all %}
  {% with entry.stats_parsed as stats %}
    <tr>
      <td>{{entry.operation}}</td>
      <td>{{entry.since_dt}}</td>
      <td>{{entry.until_dt}}</td>
      <td>{{entry.elapsed|floatformat}}s</td>
      <td>{{entry.result_code}}</td>
      <td>
        <pre>{{stats.formatted}}</pre>
      </td>
    </tr>
    {% if is_admin and stats.errors %}
    <tr>
      <td></td>
      <td colspan="5">
        <pre>
        {% for e in stats.errors %}{{e}}
        {% endfor %}</pre>
      </td>
    </tr>
    {% endif %}
  {% endwith %}
  {% endfor %}
  </tbody>
</table>

{% endblock %}
