{% extends "claim/base.html" %}
{% load i18n %}

{% block content %}

<div class="jumbotron">
  <h1>Claim email for <a href="{{target.get_absolute_url}}">{{target}}</a></h1>

<p class="lead">
{% if user.is_dd %}
{% blocktrans %}
Associate emails to the user you chose. As Debian Developer, you can
associate any email to any person: you can use this to help friends or
people in your teams get credited.
<b>Always ask</b> before associating an email to a person other than
you: do not associate people without their consent.
{% endblocktrans %}
{% else %}
Associate emails to your user: you will be sent a challenge email with a link
to click to prove that you control that address. If you need help, you can ask
a Debian Developer that knows you well to do the changes for you.
{% endif %}
</p>

<hr class="my-4">

<form method="POST" action="{% url 'claim:email' username=target.username %}">{% csrf_token %}
  {% for f in form.hidden_fields %}{{f}}{% endfor %}
  {% for field in form.visible_fields %}
  <div class="form-group row">
    <label for="{{field.id_for_label}}" class="col-sm-2 col-form-label">{{field.label}}</label>
    <div class="col-sm-8">
      {{field}}
    <small class="text-muted">{{field.help_text}}</small>
    {% if field.errors %}
    <div class="text-danger">{{field.errors}}</div>
    {% endif %}
    </div>
    <div class="col-sm-2">
      <button type="submit" class="btn btn-primary btn-lg"><span class="fa fa-link"></span> {% trans "Claim" %}</button>
    </div>
  </div>
  {% endfor %}
</form>

<a class="btn btn-secondary btn-lg" href="{% url 'claim:menu' username=target.username %}"><span class="fa fa-times"></span> {% trans "Cancel" %}</a>

</div>

{% if emails %}
<p class="lead">{% trans "Matching emails:" %}</p>

<ul>
  {% for email in emails %}
  <li>{{email.name}}{% if email.user_id %}
    {% if email.user_id == target.pk %}
    <b>{% blocktrans with target=target %} (already associated to {{target}}) {% endblocktrans %}</b>
    {% else %}
      {% trans " (associated)" %}
    {% endif %}
  {% endif %}</li>
  {% endfor %}
</ul>

{% endif %}

{% endblock %}
