{% extends "claim/base.html" %}
{% load i18n %}

{% block content %}

<div class="jumbotron">
  <h1>Unclaim identifiers for <a href="{{target.get_absolute_url}}">{{target}}</a></h1>

<p class="lead">
{% blocktrans with type=ident.type name=ident.name target=target %}
Deassociate {{type}} {{name}} from user {{target}}?
{% endblocktrans %}
</p>

<form action="{{request.build_absolute_uri}}" method="POST">{% csrf_token %}
  <button type="submit" class="btn btn-lg btn-primary"><span class="fa fa-unlink"></span> {% trans "Deassociate" %}</button>
  <a class="btn btn-lg btn-secondary" href="{% url 'claim:unclaim_menu' username=target.username %}"><span class="fa fa-times"></span> {% trans "Cancel" %}</a>
</form>

</div>

{% endblock %}
