{% extends "contributors/base.html" %}
{% load i18n %}

{% block content %}

<div class="container-fluid">

<div class="row">
  <div class="col-md">
    <h1>Contributors list</h1>
  </div>
  <div class="col-md">
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contributors' %}"><span class="fa fa-users"></span> yearly</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contributors_sources_flat' %}"><span class="fa fa-address-book"></span> teams</a>
      </li>
    </ul>
  </div>
</div>

<p class="lead">
This is a list of all the {{people.count}} people who contribute to Debian,
  <a href="{% url 'sources:list' %}">to the best of our current knowledge</a>.
</div>

<table id="contributors" class="table table-sm tablesorter {{class}}">
<thead>
    <tr>
        <th>Person</th>
        <th>Since</th>
        <th>Until</th>
    </tr>
</thead>
<tbody>
    {% for p in people %}
    <tr>
        <td><a href={{p.user.get_absolute_url}}>{{p.user.full_name|default:p.user}}</a></td>
        <td data-sort="{{p.begin|date:"Y-m"}}">{{p.begin|date:"F Y"}}</td>
        <td data-sort="{{p.until|date:"Y-m"}}">{{p.until|date:"F Y"}}</td>
    </tr>
    {% endfor %}
</tbody>
</table>

</div>

{% endblock %}
