{% extends "contributors/base.html" %}
{% load i18n %}

{% block content %}

<div class="container-fluid">

<h1>Contributors Missing In Action</h1>

<p class="lead">
  <form action="" method="GET">
    <p>
This is a list of all the {{people.count}} people whose last Debian contribution,
<a href="{% url 'sources:list' %}">to the best of our current knowledge</a>,
happened in more than <input type="number" name="days" value="{{days}}"> days ago.
<button class="btn btn-primary btn-sm" type="submit">Update</button>
    </p>
  </form>
</p>

<table id="contributors" class="table table-sm tablesorter {{class}}">
<thead>
    <tr>
        <th>Person</th>
        <th>Since</th>
        <th>Until</th>
    </tr>
</thead>
<tbody>
    {% for p in people %}
    <tr>
        <td><a href={{p.user.get_absolute_url}}>{{p.user.full_name|default:p.user}}</a></td>
        <td data-sort="{{p.begin|date:"Y-m"}}">{{p.begin|date:"F Y"}}</td>
        <td data-sort="{{p.until|date:"Y-m"}}">{{p.until|date:"F Y"}}</td>
    </tr>
    {% endfor %}
</tbody>
</table>

</div>

{% endblock %}
