{% extends "contributors/base.html" %}
{% load i18n %}

{% block content %}

<div class="container-fluid">

<h1>Query contributors by identifier</h1>

<p class="lead">
  <form action="" method="GET">
    <label>{% trans "Search:" %} <input type="text" name="q" value="{{q}}"></input></label>
    <button class="btn btn-primary btn-sm" type="submit">{% trans "Submit" %}</button>
  </form>

  {% if truncated %}
  <p>{% trans "Showing the first 100 results only" %}</p>
  {% endif %}
</p>

{% if empty %}
<p>{% trans "No results" %}</p>
{% endif %}

{% if ids %}
<table id="contributors" class="table table-sm tablesorter {{class}}">
<thead>
    <tr>
        <th>Type</th>
        <th>Id</th>
        <th>Person</th>
        <th>Since</th>
        <th>Until</th>
    </tr>
</thead>
<tbody>
    {% for i in ids %}
    <tr>
        <td>{{i.type}}</td>
        <td>{{i.name}}</td>
        {% if i.user %}
        <td>
          <a href="{{i.user.get_absolute_url}}">{{i.user}}</a>
          {% if i.user.is_dd %}
          <a href="{{i.user.get_nm_url}}">(nm)</a>
          {% endif %}
        </td>
        <td data-sort="{{i.user.aggregated_person.begin|date:"Y-m"}}">{{i.user.aggregated_person.begin|date:"F Y"}}</td>
        <td data-sort="{{i.user.aggregated_person.until|date:"Y-m"}}">{{i.user.aggregated_person.until|date:"F Y"}}</td>
        {% else %}
        <td>-</td>
        <td>-</td>
        <td>-</td>
        {% endif %}
    </tr>
    {% endfor %}
</tbody>
</table>
{% endif %}

</div>

{% endblock %}
